
.titulo-agentes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrucel {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.agent {
    gap: 6rem;
    margin: 2rem;
    
}
.nombres {
    background-color: black;
}
