.fondo {
    background-color: rgba(206, 206, 207, 0.932);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url("../img/cieloazul.png"); 
    background-size:cover;
    background-position: center;

    .mapa{
        display: grid;
        grid-template-columns: repeat(1fr);
        
    }

.form-label  {
    font-weight: 1000; 
}
.textoContacto {
    @extend .form-label;
    font-size: 2.5rem;
    @include flex(center, center);
    color: white;
    overflow: hidden
    
}
}