.logoNavbar {   
    width: 50%;
}
.nav-item  {
    display: flex;
    justify-content: center;
    
    
    
    
}
.nav-item :hover {
    background-color: rgb(122, 17, 17)   ;
    color: whitesmoke
    
    
}