main {
    .hero {
        background-image: url("../img/globos.jpg");
        height: 90vh;
        background-size: cover;
        background-position: center;
    
        @include flex(center, center)
        
    }
    .TituloPrincipal{
        display: flex;
        margin-bottom: 15rem;
        font-weight: 700;
        overflow: hidden;
        
        color: white;

    }

    .cartitaIndex {
        transition: 0.1s;
        
    }

    .cartitaIndex:hover {
        transform: scale(101%);

    }
    .tituloBroker {
        display: flex;
        justify-content: center;
        font-weight: 600;
        color: rgb(29, 28, 28);
        overflow: hidden;
        
    }

    .BotonTarjetas{
        display: flex;
        justify-content: center;
        font-weight: 600;
    }
    .parrafo{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .card-img-top{
        width: 100%;
        overflow: hidden;

    }
    .cajacartas {
        overflow: hidden;

    }
}


