.row {
    display: flex;
    justify-content: space-evenly;

    .cartasEquipo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
.tituloEquipo, .titulosEquipo{
    @include flex(center, center)
}
.TituloInstalaciones {
    font-weight: 600;
}
.card-staff {
    transition: 0.1s;
    border-radius: 40%;
}

.card-staff:hover {
    transform: scale(105%);
}
}