.row {
    display: flex;
    justify-content: space-evenly;

    .cartasEquipo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
.tituloEquipo, .titulosEquipo{
    @include flex(center, center);
    overflow: hidden
}
.TituloInstalaciones {
    font-weight: 600;
    overflow: hidden
}
.card-staff {
    transition: 0.1s;
    border-radius: 40%;
}

.card-staff:hover {
    transform: scale(105%);
}
}
.accordion {
    padding-top: 1rem;
}