.col-md-3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tituloEquipo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-evenly
}
.titulosEquipo {
    display: flex;
    justify-content: center;
}
