.py-5 {
    background-color:rgba(206, 206, 207, 0.932) ;
}
.card-body {
background-color: rgb(101, 96, 124);
border-radius: 10px;
}

.tituloPropiedad {
    margin-top: 2rem;
}
.card-body {
    background-color: aqua;
}
